# Legacy folders
/SALMON_copyback/

# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
.eggs/

# pip editable-install artefacts
*.pth

# Virtual environments
.venv/
venv/
env/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
